body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --h6-16px-regular-inter: Inter;
  --small-text-13px-poppins: Poppins;
  --body-text-large-bold: "DM Sans";

  /* font sizes */
  --small-text-13px-poppins-size: 13px;
  --h6-16px-regular-inter-size: 16px;
  --h5-19px-poppins-size: 19px;
  --display-text-extra-small-bold-size: 24px;
  --body-text-small-body-small-medium-size: 14px;
  --body-text-large-bold-size: 18px;
  --font-size-3xs: 10px;
  --display-text-small-bold-size: 34px;

  /* Colors */
  --ffffff-bg-1: #fff;
  --color-darkgray-100: #adb5bd;
  --color-darkgray-200: #9e9e9e;
  --color-darkgray-300: #999;
  --color-dimgray-100: #737373;
  --color-whitesmoke-100: #e9ecef;
  --color-tomato: #fc5a5a;
  --color-lightslategray-100: #8a92a6;
  --color-mediumblue-100: #182fff;
  --color-mediumblue-200: #1428db;
  --color-darkslategray: #232d42;
  --color-lightsteelblue: #a3aed0;
  --color-darkslateblue-100: #2b3674;
  --color-darkslateblue-200: #1b2559;
  --color-blue: #4318ff;
  --color-lavender-100: #e0e5f2;
  --color-navy: #11047a;

  /* Gaps */
  --gap-14xl: 33px;
  --gap-5xs: 8px;
  --gap-38xl: 57px;
  --gap-base: 16px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-base: 16px;
  --padding-13xl: 32px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-11xs: 2px;
  --br-9xs: 4px;
  --br-10xs: 3px;
  --br-smi: 13px;
  --br-13xl: 32px;
  --br-xl: 20px;
  --br-lg: 18px;
  --br-51xl: 70px;

  /* Effects */
  --b2-primary-color-shadow-25: 0px 2px 4px rgba(138, 146, 166, 0.3);
}
