.main {
	max-width: 60rem;
	margin-inline: auto;
	/* padding: 6rem; */
	min-height: 100vh;
}
.main :is(ul, ol) {
	list-style-position: inside;
	margin-block: 0.5em;
}
.main > img {
	max-width: 90%;
	display: block;
	margin-inline: auto;
}
